<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST IMAGE</title>
</head>
<body>
    <h1>TEST IMAGE FROM API</h1>
    <img width="200" height="200" src="http://localhost:8080/api/v1/ulospedia/weavers/9a142131-ec74-4bbe-9aa3-6458efb5b439/image">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem commodi cumque eius esse facere facilis
        harum minima, nobis omnis quo reprehenderit unde, vitae! Culpa iure ullam vel voluptas voluptatum.</p>
    <img src="http://localhost:8080/api/v1/ulospedia/weavers/123/image" width="300" height="300">
</body>
</html>